body {
  margin: 0px auto;
  max-width: 1200px;

  color: #333;
  font-family: 'Helvetica', 'Droid Sans', 'Arial', sans-serif;
}

#chart{
  margin: 0px auto;
  width: 100%;
  display: inline-block;
  text-align: center;

}
svg {
  padding: 20px;
  margin: 10px;
  background-color: white;
}

#bubble, #bar{
    display:inline;
}

.ball{
  fill: blue;
}


.active{
  fill: lightskyblue;
  stroke: black;
  stroke-width: 2px;
}

.rect{
  fill: lightskyblue;

}

.text{
  fill:black;
}

/* circle:hover{
  fill: black;
} */