body {
    margin: 5em auto;
    max-width: 1500px;
}

circle {
    fill: #FD8D3C;
    stroke: white;
    stroke-width: 4px;
}

line {
    stroke: #9ECAE1;
    stroke-width: 4px;
}

text {
    fill: white;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    text-anchor: middle;
}
